@using System;
@using InfinityHelper.Server.Core;
@inherits InfinityServerTemplate<ICharacter>
@{ 
    Layout = null;
}
<div class="col-md-6 battle-char" id="char_@Model.Id">
    <div class="battle-char-info"><span class="label label-default">Lv@(Model.Level)</span><span class="battle-char-name name">&nbsp;@Model.Name</span></div>
    <div class="progress">
        <div class="progress-bar progress-bar-life" style="width:100%;" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <span>@(Model.Life)/@(Model.Life)</span>
        </div>
    </div>
    @*<div class="progress">
        <div class="progress-bar progress-bar-mana" style="width:100%;" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <span>@(Model.Mana)/@(Model.Mana)</span>
        </div>
    </div>*@
</div>