@using System;
@using InfinityHelper.Server.Core;
@inherits InfinityServerTemplate<InfinityServerModel>
@{ 
    //int count = Model.Site.Dynamic.BattleLevelTotalCount;
    //decimal epm = Model.Site.Dynamic.EPM;   
}
@section head{
    <script type="text/javascript" src="~/Scripts/Guaji.js?v=20201125"></script>
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    离线挂机服务
                    <div class="pull-right">
                        <a class="btn btn-xs btn-info" href="/Map/Battle" role="button">实时战况</a>                                              
                        <a class="btn btn-xs btn-default" href="/Character/Detail" role="button">返回</a>
                    </div>
                </div>
                <div class="panel-body">

                </div>
                @*<div class="panel-footer">
                    总战斗<span id="bCount" class="state">@(count)</span>次，平均效率<span id="bEPM" class="state">@(epm)</span>/分钟
                </div>*@
            </div>
        </div>
    </div>
</div>

