@using System;
@using System.Collections.Generic;
@using System.Text;
@using InfinityHelper.Server.Core;
@inherits InfinityServerTemplate<InfinityServerModel>
@{

}
<div class="container">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            更新日志
        </div>
        <div class="panel-body">
            <div>
                <p>2020-12-17</p>
                <p>1、单人地图和组队副本分离。</p>
                <p>2、（官方）离线功能。</p>
            </div>
            <br />
            <div>
                <p>2020-12-10</p>
                <p>1、角色基础信息和动态信息缓存分离。</p>
            </div>
            <br />
            <div>
                <p>2020-12-8</p>
                <p>1、调整战斗回复类型。</p>
                <p>2、技能升级等级限制。</p>
            </div>
            <br />
            <div>
                <p>2020-12-4</p>
                <p>1、战斗统计数据区分治疗/物理/法术伤害。</p>
            </div>
            <br />
            <div>
                <p>2020-12-1</p>
                <p>1、副本战斗多场战斗之间血量会继承显示。</p>  
                <p>2、批量使用/合成物品。</p>
            </div>
            <br />
            <div>
                <p>2020-11-28</p>
                <p>1、已强化的装备将不会被过滤。</p>
                <p>2、商店页面显示当前铜币和金币。</p>
                <p>3、战斗结果伤害统计功能。</p>
            </div>
            <br />
            <div>
                <p>2020-11-27</p>
                <p>1、帮助/地图掉落支持过滤。</p>
            </div>
            <br />
            <div>
                <p>2020-11-26</p>
                <p>1、修复队友掉落装备统计到帮助时串图问题。</p>
                <p>2、合成功能。</p>
                <p>3、材料/道具/商店/合成功能使用单独界面，装备/背包界面不再显示材料/道具。</p>
                <p>4、境界加成属性显示。</p>
                <p>5、商店支持批量购买。</p>
            </div>
            <br />
            <div>
                <p>2020-11-25</p>
                <p>1、境界/突破功能。</p>
            </div>
            <br />
            <div>
                <p>2020-11-24</p>
                <p>1、装备显示/过滤支持命中率/闪避/暴击伤害词缀。</p>
            </div>
            <br />
            <div>
                <p>2020-11-22</p>
                <p>1、反击/dot伤害不占回合，并在当前回合的信息中显示。</p>
                <p>2、物品词缀过滤功能，将在每次战斗结束时自动检测背包，并自动出售不满足规则的物品（副本战斗不会检测）。</p>
            </div>
            <br />
            <div>
                <p>2020-11-20</p>
                <p>1、队友副本战斗记录+过程查看功能（与队长的同步推送，过程一致，掉落是独立的）。</p>
            </div>
            <br />
            <div>
                <p>2020-11-18</p>
                <p>1、副本战斗功能，队长战况查看功能。</p>
            </div>
            <br />
            <div>
                <p>2020-11-17</p>
                <p>1、队伍创建/加入/离开/踢人功能。</p>
            </div>
            <br />
            <div>
                <p>2020-11-15</p>
                <p>1、兑换码功能。</p>
                <p>2、组队页面。</p>
                <p>3、统计。</p>
            </div>
            <br />
            <div>
                <p>2020-11-12</p>
                <p>1、切地图不会中断挂机。</p>
                <p>2、停止后重新挂机不会清除统计数据（可以手动重置）。</p>
                <p>3、等级榜和效率榜。</p>
            </div>
            <br />
            <div>
                <p>2020-11-11</p>
                <p>1、头像显示。</p>
                <p>2、当前战斗过程显示。</p>
            </div>
            <br />
            <div>
                <p>2020-11-7</p>
                <p>1、在线玩家功能。</p>
            </div>
            <br />
            <div>
                <p>2020-11-6</p>
                <p>1、商店购买功能。</p>
                <p>2、道具使用功能。</p>
                <p>3、技能升级功能。</p>
                <p>4、装备强化功能。</p>
                <p>5、属性加点功能。</p>
            </div>
            <br />
            <div>
                <p>2020-11-5</p>
                <p>1、地图掉落查询页面。</p>
                <p>2、物品装备/卸下/绑定/解绑/出售功能。</p>
                <p>3、技能装备/卸下功能。</p>
                <p>4、商店信息。</p>
            </div>
            <br />
            <div>
                <p>2020-11-4</p>
                <p>1、背包页面支持过滤。</p>
                <p>2、技能页面支持过滤。</p>
                <p>3、添加缓存提升响应速度。</p>
            </div>
            <br />
            <div>
                <p>2020-11-3</p>
                <p>1、技能页面。</p>
            </div>
            <br />
            <div>
                <p>2020-11-2</p>
                <p>1、背包页面。</p>
            </div>
            <br />
            <div>
                <p>2020-11-1</p>
                <p>1、地图切换与离线挂机，并可以查看当前战斗日志和统计信息。</p>
            </div>
            <br />
            <div>
                <p>2020-10-30</p>
                <p>1、角色页面添加装备和地图相关信息。</p>
            </div>
            <br />
            <div>
                <p>2020-10-29</p>
                <p>1、框架制作，登入/登出，cookie等处理。</p>
                <p>2、角色页面。</p>
            </div>
            <br />
        </div>
    </div>
</div>